<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437330601796-r49me51dov9sm7dim16e0etlq8co2s3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437330601796-r49me51dov9sm7dim16e0etlq8co2s3m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>437330601796-sal5k03n9k255pgtcjv83lg6c9ud5o86.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXpAfbwPjcmr7jNsQY6Z_BeCT_JTragCY</string>
	<key>GCM_SENDER_ID</key>
	<string>437330601796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.booking</string>
	<key>PROJECT_ID</key>
	<string>verge-ee493</string>
	<key>STORAGE_BUCKET</key>
	<string>verge-ee493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437330601796:ios:c9b2b73520b5a934309911</string>
	<key>DATABASE_URL</key>
	<string>https://verge-ee493.firebaseio.com</string>
</dict>
</plist>